<ul class="navbar-nav navbar-sidenav"
            id="exampleAccordion">


            <!-- Dashboard -->

            <li class="nav-item"
                data-toggle="tooltip"
                data-placement="right"
                title="Dashboard">

                <a class="nav-link"
                   href="{% url 'candidate_dashboard' %}">

                    <i class="fa fa-fw fa-dashboard"></i>

                    <span class="nav-link-text">
                        Dashboard
                    </span>

                </a>

            </li>


            <!-- Profile -->

            <li class="nav-item"
                data-toggle="tooltip"
                data-placement="right"
                title="My Profile">

                <a class="nav-link"
                   href="{% url 'edit_candidate_profile' %}">

                    <i class="fa fa-fw fa-user"></i>

                    <span class="nav-link-text">
                        My Profile
                    </span>

                </a>

            </li>


            <!-- CV -->

           


            <!-- Jobs -->

            <li class="nav-item"
                data-toggle="tooltip"
                data-placement="right"
                title="Jobs">

                <a class="nav-link"
                   href="{% url 'job_list' %}">

                    <i class="fa fa-fw fa-briefcase"></i>

                    <span class="nav-link-text">
                        Find Jobs
                    </span>

                </a>

            </li>


            <!-- Applications -->

            <li class="nav-item"
                data-toggle="tooltip"
                data-placement="right"
                title="Applications">

                <a class="nav-link"
                   href="{% url 'MyApplications' %}">

                    <i class="fa fa-fw fa-paper-plane"></i>

                    <span class="nav-link-text">
                        My Applications
                    </span>

                </a>

            </li>


            <!-- Messages -->



            <!-- Settings -->

            <li class="nav-item"
                data-toggle="tooltip"
                data-placement="right"
                title="Settings">

                <a class="nav-link"
                   href="#">

                    <i class="fa fa-fw fa-cog"></i>

                    <span class="nav-link-text">
                        Settings
                    </span>

                </a>

            </li>

        </ul>